.card-container {
	display                : flex;
	flex-direction         : column;
	align-items            : center;
	background-color       : #40415E;
	border-radius          : 10%;
	padding                : 1em;
	cursor                 : pointer;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility    : hidden;
	transition             : transform 0.25s ease-out;
	will-change            : transform;
	color                  : lightblue;
	clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0% 100%, 0% 10%);
}

.card-container:hover {
	transform: scale(1.05);
}

.card-container img {
	border-radius: 50%;
	max-width    : 10em;
}

h3 {
	margin-bottom: .5em;
}

p {
	font-size: .9em;
	margin   : 0;
}