body {
	font-family            : system-ui;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align             : center;
	background             : linear-gradient(to left, #D7DDE8, #757F9A);
	font-size              : 16px;
}

.app-title {
	padding-top: .5em;
	color      : #40415E;
}

* {
	margin : 0;
	padding: 0;
}